@media (max-width 1020px)
    .advantages
        &__left
            padding 20px 25px 20px 10px
        &__right
            padding 0 0 0 40px
            
    .advantages-carousel
        &__icon
            width 15%
        &__text-block
            width 85%
            
    .phone-link--header
        padding 0 15px 0 0
        
    .catalog
        .container
            width 93%
            
    .search
        & > div:nth-child(4)
          display none
        .select-box, .range-box
            width 33.333%
            font-size 13px
            margin 0
            padding 0 10px
        button
            display block
            float right
            
    .site-footer
        &__left,
        &__right
            float none
            width 100%
        &__left
            padding 100px 0
        .default-form
            float none
            max-width 600px
            margin 0 auto
            width auto
            text-align center
            padding 0px 15px
            
            &__header
                font-size 25px
    .catalog-content
        .container
            width 100%
        &__left
            width 45%
        &__right
            width 55%
        &__footer
            padding 0 0 15px 0