@media(max-width 1280px)
	.hero
		padding 100px 0 0 0
	.advantages
		&__left
			padding 20px 25px 20px 50px
	.search 
		padding 28px 20px 35px 20px
		.select-box,
		.range-box
			margin 0 0 0 27px
					
