@media(max-width 850px)
  .catalog-content
    padding 20px 0px
  
    &__right,
    &__left
      width 100%
    &__left
      padding 0
      margin 0 0 40px 0
@media(max-width 800px)
  .container
    padding 0 10px
    
  .site-header
    &__right
      width 70%
    &__left
      width 30%
    .logo
      padding 7px 0 0 0
      
  .advantages
    &__left
      width 60%
    &__right
      width 40%
      
  .advantages-carousel
    &__icon
      width 18%
    &__text-block
      width 82%
      
  .search
    & > div:nth-child(4)
      display block
    .select-box, .range-box
      font-size 18px
      width 100%
      float none
      margin 25px 0 0 0
      padding 0
      
  .noUi-horizontal .noUi-handle
    width 20px
    height 20px
    top -3px
    
  .range-box
    &__helper
      font-size 17px
      margin 15px 0px
      
  .apartments
    &__col
      width 50%
    
  .site-footer
    .default-form
      max-width 400px
  
  #map
    height 400px
      
  #callback-form
    max-width none
    
  .mfp-container
    padding 0
  

  
@media(max-width 650px)
  .site-header
    &__left
      margin 0 0 15px 0
    &__left,
    &__right
      width 100%
      text-align center
    &__controls
      float none
      a
        margin 10px 0 0 0
        
  .hero
    padding 100px 0px 0px
    &__text
      font-size 35px
      line-height 40px
    &__subtext
      font-size 20px
      
  .advantages
    padding 20px 0 0 0
    
    .container
      padding 0
    &__left
      width 100%
      border 0
      float none
      padding 20px 25px 10px 15px
    &__right
      float none
      width 100%
      margin 15px 0 0 0
      padding 15px 0 25px 15px
      background rgba(0,0,0,0.7) 
      
  .advantages-carousel
    &__icon
      width 12%
      margin 0 0 0 0
    &__text-block
      width 88%
      p
        padding 0 0 0 15px
  
  .toggle
    vertical-align middle
    margin 10px 0 0 0 
  
  .toggle ~ a
    vertical-align middle
    margin 10px 0 0 10px
    
  .catalog
    &__inner
      padding 40px 0 20px 0
      
      .default-header
        margin 0
  
  .default-header
    font-size 25px
    padding 0 10px 

@media(max-width 391px)
  .phone-link
    padding 0
    display block

@media(max-width 550px)
  .hero
    padding 40px 0 0 0
    &__text
      font-size 26px
    &__controls
      margin 20px 0 0 0
      
  .advantages
    margin 50px 0 0 0
    
  .advantages-carousel
    &__icon
      width 16%
    &__text-block
      width 84%
  
  .apartments
    &__inner
      margin 45px 0 45px 0
    &__link
      margin-left 0
      margin-right 0
    &__col
      width 100%
      padding 0
      margin 0 auto 30px auto
      float none
    &__col-inner
      &:before
        left 0
    &__wrapper
      left 0
      
  .catalog-carousel
    
    &__button
      top 50%
      transform translateY(-50%)
    &__button--right
      right 15px
      left initial
    &__button--left
      left 15px
    &__info
      padding 10px 15px
      p
        display block
        margin 5px 0
        &:not(:first-child)
          margin 5px 0px
@media(max-width 450px)
  .advantages
    &__left
      padding 10px 25px 15px 15px
  .advantages-carousel
    &__icon
      width 20%
      display none
    &__text-block
      width 100%
      p
        padding 0
  .search
    .select-box, .range-box
        font-size 14px
    button
      width 100%
      float none
      margin 15px 0 0 0
      
  .default-form--popup
    .default-form__inner
      padding 0 30px
    .default-form__header
      font-size 20px
      margin 10px 0 30px 0