
// Helpers

@import "_variables"
@import "_mixins"


// Normalize

@import "assets/_normalize"

// General

@import "_general"

// Assets

@import "assets/_hamburger"

// Controls

@import "_buttons"
@import "_forms"

dev = 0

*
  box-sizing border-box
  if dev
    outline 1px solid #eee

@import "responsive/_1280.styl"
@import "responsive/_1140.styl"
@import "responsive/_1020.styl"
@import "responsive/_800.styl"