/* ==========================================================================
   Social links
   ========================================================================== */

social-size = 35px
social-item-space = 0px 4px
social-color = #7f6631

.social 
  margin 0px
  list-style-type none
  padding 0px 

.social__item:first-child
  margin-left 0px

.social__item:last-child
  margin-right 0px

.social__item 
  display inline-block
  vertical-align middle
  margin social-item-space

.social__link 
  text-decoration none
  color social-color
  
.social__img 
  font-size social-size
  text-decoration none
  -webkit-transition color 0.3s ease
  transition color 0.3s ease 
  &:hover 
    opacity0.8 


.social--header
  social-item-space 0px 4.5px

.social__item 
  display inline-block
  vertical-align middle
  margin social-item-space
  &:first-child
    margin-left 0px
  &:last-child
    margin-right 0px

.social__link 
  text-decoration none 
.social__img 
  text-decoration none
  -webkit-transition color 0.3s ease
  transition color 0.3s ease 
  &:hover 
    opacity0.6 

