ul.social
  li.social__item
    a.social__link(href='', target='_blank')
      i.fa.fa-vk
  li.social__item
    a.social__link(href='', target='_blank')
      i.fa.fa-facebook
  li.social__item
    a.social__link(href='', target='_blank')
      i.fa.fa-twitter